@charset "ISO-8859-1";
body {font-family: Arial, Helvetica, sans-serif;}
form {width: 500; border: 2px solid #f1f1f1; background-color:#f1f1f1;}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 10px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
 border: 1px solid #888;
  width: 80%; 
}

.close {
  position: absolute;
  right: 25px;
  top: 0px;
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.addnote
{
	position: absolute;
  top: 16px;
  right: 120px;
	padding:16px;
	color:white;
}

#signout
{
position: absolute;
  top: 16px;
  right: 16px;
	padding:16px;
}

#bell
{
position: absolute;
  top: 16px;
  right: 130px;
  padding:16px;
}

.badge {
  position: absolute;
  top: 14px;
  right: 130px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

form.example input[type=text] {
	width:80%;
	padding:10px;
	margin:1px 0px;
  border: 1px solid grey;
  float: left;
  background: white;
}

form.example button {
	width:15%;
	padding:10px;
	margin:1px 0px;
	height:37px;
  background: #2196F3;
  border: 1px solid grey;
  cursor: pointer;
}

.leftdiv
{
float:left;
background-color:#F0F3F3;
padding:10px;
margin:5px 20px 0px 2px;
width:15%;
}

.rightdiv{
float:right;
background-color:#F0F3F3;
padding:10px;
margin:5px 0px 0px 2px;
width:80%;

}
