<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>AP</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>Datastr</display-name>
    	<servlet-name>Datastr</servlet-name>
    	<servlet-class>Datastr</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddNotebook</display-name>
    	<servlet-name>AddNotebook</servlet-name>
    	<servlet-class>AddNotebook</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DataCheck</display-name>
    	<servlet-name>DataCheck</servlet-name>
    	<servlet-class>DataCheck</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DataCon</display-name>
    	<servlet-name>DataCon</servlet-name>
    	<servlet-class>DataCon</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DataUpd</display-name>
    	<servlet-name>DataUpd</servlet-name>
    	<servlet-class>DataUpd</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>NoteBookUpdate</display-name>
    	<servlet-name>NoteBookUpdate</servlet-name>
    	<servlet-class>NoteBookUpdate</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>NoteStr</display-name>
    	<servlet-name>NoteStr</servlet-name>
    	<servlet-class>NoteStr</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>NoteUpdate</display-name>
    	<servlet-name>NoteUpdate</servlet-name>
    	<servlet-class>NoteUpdate</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Str</display-name>
    	<servlet-name>Str</servlet-name>
    	<servlet-class>Str</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DataStr</display-name>
    	<servlet-name>DataStr</servlet-name>
    	<servlet-class>DataStr</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Datastr</servlet-name>
    	<url-pattern>/Datastr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddNotebook</servlet-name>
    	<url-pattern>/AddNotebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DataCheck</servlet-name>
    	<url-pattern>/DataCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DataCon</servlet-name>
    	<url-pattern>/DataCon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DataUpd</servlet-name>
    	<url-pattern>/DataUpd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>NoteBookUpdate</servlet-name>
    	<url-pattern>/NoteBookUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>NoteStr</servlet-name>
    	<url-pattern>/NoteStr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>NoteUpdate</servlet-name>
    	<url-pattern>/NoteUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Str</servlet-name>
    	<url-pattern>/Str</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DataStr</servlet-name>
    	<url-pattern>/DataStr</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
